Sxiv.background: #000000
Sxiv.foreground: #00C0FF

rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client}" {host}

/* Scale Display */

rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client}" {host}

/* Scale Display */
*dpi: 100
Xft.dpi: 100
