/** Basic config file **/

configuration {
    display-drun: "Applications";
    display-window: "Windows";
    drun-display-format: "{icon} {name}";
    modi: "window,run,drun,calc,emoji,filebrowser,combi,ssh";
    show-icons:         true;
    icon-theme:         "Papirus";
}

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/usr/share/rofi/themes/paper-float.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
